.cart-grid {
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 30px;

    margin: 40px;
    margin-top: 80px;
}

.your-bag-box {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
}

.your-bag-text {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
}

.bag-item {
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: gainsboro;
    padding: 10px;
    margin-bottom: 20px;

    transition: 0.3s;
}

.bag-item:hover {
    border-color: gray;
}

.quantity-selector {
    display: inline;
}

.remove-item {
    display: inline;
    color: rgb(3, 100, 174);
    cursor: pointer;
}





.order-summary-box {
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    border: solid;
    border-width: 1px;
    border-radius: 10px;
    border-color: gainsboro;
    padding: 10px;
    margin: 10px;

    height: 200px;
    min-width: 180px;
    max-width: 300px;
}

.order-summary-text {
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
}

.item-total-flex, .tax-flex, .order-total-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.place-order-button {
    background-color: red;
    border: none;
    border-radius: 8px;
    height: 30px;
    cursor: pointer;

    transition: 0.3s;
}

.place-order-button:hover {
    opacity: 70%;
}

.place-order-text {
    color: white;
}