body {
    background-color: white;
}

.header-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 360px;
    margin-right: 40px;

    font-weight: 800;
}

.header-sign-in {
    border: solid;
    border-width: 2px;
    border-color: black;
    padding: 8px;
    border-radius: 20px;

    transition: 0.4s;
}

.header-sign-in:hover {
    opacity: 0.6;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    height: 500px;

    background-image: url(https://images.squarespace-cdn.com/content/v1/635ef910c76ae72fbf1b3f82/977f5a49-8c70-400f-a87c-1e47889ec2ed/3EB138E9-87DC-4E43-9CBF-1B5993FF9FA5.jpeg);
    background-size: cover;
}

.order-online-button {
    font-size: 24px;
    font-weight: 800;
    background-color: red;
    border: none;
    box-shadow: 0px 0px 4px black;

    transition: 0.4s;
}

.order-online-button:hover {
    box-shadow: none;
}

.order-online-link {
    color: white;
}

.contact-us-box {
    width: 1fr;
    height: fit-content;
    background-color: black;
    color: white;
}

.contact-us-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.phone-number {
    border: solid;
    border-color: white;
    border-radius: 30px;
    color: white;

    padding: 16px 36px;
    
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    padding: 20px;
    margin: 20px;
}

@media (max-width: 800px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.days-flex {
    display: flex;
    justify-content: space-between;
    margin: 40px 0px;
}

.map-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.address {
    color: white;
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 40px;
    align-self: center;
}

.map {
    width: 100%;
    height: 300px;
    background-color: white;
}

iframe {
    width: 100%;
    height: 100%;
}

.sign-in-section {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;

    height: 120px;
}

.sign-in-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}

.sign-in_content {
    display: flex;
}

.create-account-button {
    background-color: brown;
    color: white;
    border: none;
    box-shadow: 0px 0px 4px black;
    font-size: 20px;

    padding: 4px 6px;

    transition: 0.4s;
}

.create-account-button:hover {
    box-shadow: none;
}

.OR-word {
    color: black;
    font-weight: 800;
}

.sign-in-button {
    border: none;
    background-color: white;
    color: rgb(230, 139, 2);
    font-size: 20px;
    text-decoration: underline;

    transition: 0.4s;
}

.sign-in-button:hover {
    opacity: 60%;
}

.hidden {
    filter: blur(5px);
    transform: translate(-100%);
    transition: 2s ease;
}

.show {
    filter: blur(0px);
    transform: translate(0);
    transition: 2s ease;
}
