.contact-us-box {
    width: 1fr;
    height: 700px;
    background-color: yellow;
}

.filler {
    width: 1fr;
    height: 700px;
    background-color: pink;
}

.contact-us-text {
    padding-top: 40px;
    text-align: center;
}

.days-flex {
    display: flex;
    justify-content: space-between;
}

