body {
    background-color: black;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    height: 100vh;
    background-color: black;
}

.contact-us-box {
    width: 1fr;
    height: 700px;
    background-color: yellow;
}

.order-online-button {
    font-size: 24px;
    font-weight: 800;
    background-color: black;
    border: none;
}

.order-online-link {
    color: white;
}

.contact-us-text {
    padding-top: 40px;
    text-align: center;
}

.days-flex {
    display: flex;
    justify-content: space-between;
}


.hidden {
    filter: blur(5px);
    transform: translate(-100%);
    transition: 2s ease;
}

.show {
    filter: blur(0px);
    transform: translate(0);
    transition: 2s ease;
}
