.navigation-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    top: 62px;
    bottom: 0px;
    width: 150px;

    background-color: white;
    border-right: solid;
    border: none;

    /*transform-style: preserve-3d;
    transform: perspective(1000px);
    I need this if I want transformation in third dimension*/
}

.category-flex {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    border: none;
    border-width: 1px;
    border-radius: 6px;
    margin-bottom: 1px;

    transition: 0.5s;
}

.category-flex:hover {
    background-color: rgb(230, 230, 230);
}

.category-flex:hover {
    transform: translateX(10px);
}

/* learn code later */
.category-name {
    transition: 0.5s;
}

.category-name.active {
    text-decoration: underline;
    background-color: gainsboro;
}

.menu {
    margin-top: 80px;
    margin-left: 180px;
    margin-right: 20px;
}

.menu-section {
    scroll-margin-top: 80px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.section-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    margin-bottom: 20px;
}

@media (max-width: 750px) {
    .section-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .section-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1250px) {
    .section-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}

.menu-item {
    background-color: rgb(245, 245, 245);
    border: solid;
    border-width: 1px;
    border-color: red;
    border-radius: 5px;
    padding: 5px;

    cursor: pointer;
}

.fill {
    background-color: aqua;
    height: 500px;
}

a {
    text-align: center;
}

.popup {
    opacity: 0; /* Initially hide the fixed content */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    z-index: 9999;
    height: 380px;
    width: 300px;
    pointer-events: none; /* Allow clicks to pass through when hidden */

    transition: 0.3s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    z-index: 999;
    pointer-events: none; /* Allow clicks to pass through when hidden */

    transition: 0.3s;
}

.exit {
    text-align: right;
    cursor: pointer;
}

.item-name-popup {
    font-weight: 600;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 6px;
}

.item-price-popup, .item-description-popup {
    font-size: 17px;
    margin-left: 20px;
    margin-bottom: 6px;
}

select {
    background-color: rgb(234, 234, 234);
    border-radius: 18px;
    border: none;
    padding: 8px 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;

    font-size: 14px;
    cursor: pointer;

    transition: 0.3s;
}

select:hover {
    background-color: rgb(230, 230, 230);
}

select:active {
    background-color: rgb(220, 220, 220);
}

.add-to-order {
    display: flex;
    justify-content: center;
}

.add-to-order-button {
    height: 40px;
    width: 200px;

    border-radius: 8px;
    border: none;
    background-color: red;
    color: white;
    font-weight: 800;

    cursor: pointer;
}