.header {
    background-color: aquamarine;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.right-header {
    display: flex;
    align-items: center;
}

.home-icon {
    margin-left: 8px;
    height: 50px;
    width: 52px;
}

.shopping-bag-icon {
    height: 50px;
    width: 50px;
}

.cart-count {
    position: relative;
    top: 6px;
    right: 29px;

    font-weight: 800;
    color: orange;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: pink;
    position: fixed;
    top: 60px;
    bottom: 0px;
    width: 150px;
    box-shadow: 5px 5px 16px;
}

.category-flex {
    display: flex;
    justify-content: center;
    align-items: center;


    height: 40px;
}

.menu {
    margin-top: 60px;
    margin-left: 180px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.section-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    row-gap: 20px;
    column-gap: 5px;
    margin-bottom: 20px;
}

.menu-item {
    background-color: beige;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
}

.fill {
    background-color: aqua;
    height: 500px;
}

a {
    text-align: center;
}

.popup {
    display: none; /* Initially hide the fixed content */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 0px 5px;
    border: 1px solid black;
    border-radius: 5px;
    border-color: darkgray;
    z-index: 9999;
}

.menu-item-popup {
    height: 200px;
    width: 300px;
}

.exit {
    text-align: right;
}

select {
    background-color: hsl(0, 5%, 88%);
    border-radius: 2px;
}

.add-to-order {
    display: flex;
    justify-content: center;
}

.add-to-order-button {
    width: 200px;
}
