.navigation-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: pink;
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 150px;
    box-shadow: 5px 5px 16px;
}

.category-flex {
    display: flex;
    justify-content: center;
    align-items: center;


    height: 40px;
}

.menu {
    margin-left: 180px;
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.section-grid {
    display: grid;
    grid-template-columns: 200px 200px;
    row-gap: 20px;
    column-gap: 5px;
    margin-bottom: 20px;
}

.menu-item {
    background-color: beige;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
}

.fill {
    background-color: aqua;
    height: 500px;
}

a {
    text-align: center;
}