.login-username-body {
    background-color: gray;
    display: flex;
    justify-content: center;
}

.username-box {
    background-color: white;
    margin-top: 100px;
    padding: 20px;
}

.create-account-box {
    background-color: white;
    margin-top: 20px;
    display: grid;
    grid-template-rows: 40px 40px;
    justify-content: center;
    align-items: center;
}

.new-customer-text {
    font-size: 14px;
    text-align: center;
}
