@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+NSW:wght@100..400&display=swap');

.header {
    background-color: white;
    border-bottom: solid;
    border-width: 1px;
    border-color: gainsboro;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.right-header {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.logo {
    font-family: Playwrite AU NSW;
    font-weight: 400;
    font-size: 22px;
    color: red;

    margin-left: 24px;
}

.sign-in {
    font-size: 14px;

    background-color: rgb(238, 238, 238);
    padding: 10px 24px;
    border-radius: 20px;

    transition: 0.3s;
}

.sign-in:hover {
    background-color: gainsboro;
}

.sign-out {
    cursor: pointer;
}

.shopping-bag-icon {
    height: 46px;
    width: 46px;
    margin-left: 20px;
}

.cart-count {
    position: relative;
    top: 6px;
    right: 27px;

    font-weight: 800;
    color: red;
}